* {
	box-sizing: border-box;
}

.file-input
{
	width: 200px;
	height: 100px;
	border-radius: 3px;
	border: 1px solid #ddd;
	margin: 20px;
}

.file-input:hover
{
	background: #eee;
}


.file-input input[type=file]
{
	width: 100%;
	height: 100%;
	opacity: 0.1;
	background: #222;
	color: #fff;
}

canvas
{
	display: inline-block;
}

h1 {
	margin-top: 0;
}

.row
{
	margin-left: -10px;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

[class^='col-'] {
	padding-left: 10px;
	float: left;
}

.col-6 {
	width: 50%;
}

.js-wave-component input[type=number] {
	padding: 5px;
	float: left;
	width: 50px;
}

.js-wave-component {
	padding-bottom: 90px;
}
.js-wave-component:after {
	clear: both;
	content: '';
	display: table;
}

.js-wave-modifier-input {
	position: relative;
}

.js-wave-modifier-input input[type=range]
{
	position: absolute;
	transform-origin: 0 0;
	transform: rotate(-90deg);
	left: -35px;
	top: 100px;
	width: 60px;
}

.js-tap-tempo {
	padding: 20px;
	background: #ddd;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-right: 20px;
	margin-bottom: 20px;

	transition: transform .2s ease-in-out;
}
.js-tap-tempo:active {
	background: #69c;
	outline: none;
}
.js-tap-tempo:focus {
	outline: none;
}

.js-sequence-view
{
	position: relative;
	height: 40px;
	background: #ddd;
	margin-bottom: 20px;
}
.js-sequence-time
{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: #222;
	width: 5px;
}